apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app: deploy-mnist
  name: deploy-mnist
spec:
  replicas: 1
  selector:
    matchLabels:
      app: deploy-mnist
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: deploy-mnist
    spec:
      containers:
      - image: jsk4074/mnist:v22
        name: mnist
        resources: {}
status: {}